@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* This CSS assumes you're breaking down each li content into spans or individual items */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #ff4500;
  animation: typing 1.5s steps(30) 1s forwards;
}

/* Hide the scrollbar but keep scrolling functionality */
.scrollable-area::-webkit-scrollbar {
  display: none;
}

.scrollable-area {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
